
 .contactheading h1{
	   width: 50%;
    margin: 50px auto 0px;
    color: white;
    background-color: #001f3f;
    border: 1px solid white;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    text-align: center
}


.inputboxcontact{
	 margin: 10px 0px 10px 0px;
	   background-color: white;
    width: 50%;
    margin: 0px auto;
    padding: 20px;
   border-radius: 0px 0px 10px 10px;
    border: 2x solid black;
    font-size: 30px;
}

.inputboxcontact label{
	 display: block;
    text-align: left;
    margin: 3px;
    font-size: 30px;
}

.inputboxcontact input{
    height: 40px;
    width: 98%;
    padding: 5px 10px;
    font-size: 15px;
    border: 2px solid red;
    
    
}


button {
  font-family: inherit;
  font-size: 20px;
  background: black;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(1em);
  color: red;
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
